*{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
body{
    background-color: black;
}
header{
    
    
    background-color: rgb(34, 129, 158);
}
.conteiner-1{
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
.conteiner-1 span{
    position: relative;
    bottom: -5px;
    left: -10px;
}
.formt{
    width: 80vw;
    padding:5vh 0px 0px 0px;
    margin: auto;
    text-justify: justify;
}
.img-emoji{
    width: 40px;
}
.dica{
    padding-top: 5vh;
}

